@charset "utf-8";

@media screen and (max-width : 780px) {
    .coluna1, .coluna2 {
        float: left;
        width: 50%;
        padding: 10px;
        background-color: brown;
    }

    .coluna3 {
        display: none;
    }
}